@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--cor-secundaria2)
}

:root{
    --cor-primaria1: hsl(225, 100%, 94%);
    --cor-primaria2: hsl(245, 75%, 52%);
    --cor-secundaria1: hsl(225, 100%, 98%);
    --cor-secundaria2: hsl(224, 23%, 55%);
    --cor-secundaria3: hsl(223, 47%, 23%);
}

.conteudo{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 85vh;
    border-radius: 20px;
}

.top svg{
    border-radius: 20px 20px 0px 0px;
}

.center{
    display: flex;
    flex-direction: column;
    margin-top: -5px;
    background-color: #fff;
    flex: 2;
}

.center-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.center-texts h1{
    font-size: 22px;
    color: hsl(224, 65%, 17%);
    margin-top: 20px;
    font-weight: 900;
    line-height: 25px;
}

.center-texts p{
    font-size: 14px;
    color: var(--cor-secundaria3);
    text-align: center;
    margin-top: 12px;
}

.plan{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--cor-secundaria1);
    margin: 20px 35px;
    border-radius: 10px;
    padding: 10px;
}

.logo-music{
    width: 40px;
    height: 50px;
}

.plan-infos{
    flex: 1;
    margin-left: 15px;
}

.plan-infos h1{
    font-size: 15px;
    font-weight: 900;
}

.plan-infos p{
    font-size: 14px;
    color: var(--cor-secundaria2);
}

.plan a{
    font-size: 14px;
    color: var(--cor-primaria2);
    font-weight: 700;
    text-decoration: none;
}

.plan a:hover{
    text-decoration: underline;
}

.buttons{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: -1px;
    border-radius: 0px 0px 20px 20px;
}

.button1 a,
.button2 a{
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
}

.button1{
    margin-bottom: 20px;
    box-shadow: #000000b0 0px 7px 20px;
}

.button1 a{
    background-color: var(--cor-primaria2);
    color: #fff;
    padding: 10px 95px;
    border-radius: 7px;
}

.button1 a:hover{
    background-color: hsl(245, 72%, 39%);
}

.button2 a{
    color: var(--cor-secundaria2);
}

.button2 a:hover{
    color: hsl(223, 17%, 40%);
}

/* Configs mobile */

@media (max-width: 480px){
    .conteudo{
        width: 300px;
    }

    .top svg{
        width: 300;
    }

    .buttons{
        padding-bottom: 20px;
    }

    .button1 a{
        padding: 10px 50x;
    }
}